#nav {
	list-style: none;
    height: 40px;
    padding: 5px 1px;
    margin-left: 280px;
    background: #FFE3EE;
}

#nav li {
	float:left;
	position: relative;
    margin: 5px 30px;
    padding: 0;
}

#nav li a {
	display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 8px;
    margin: 0;
    color: #6e6e6e;
    margin: 0;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#nav li:hover > a{
	background: #FFCFDA;
    color: #EAEAEA;
    margin: 0;
    padding: 5px;
}

#nav ul {
	list-style: none;
    margin: 0;
    padding: 0;
    position:absolute;
    left:0;
    top:40px;
    width:105px;
    background: #FFCFDA;
    text-align: center;
    opacity: 0;
}

#nav ul li {
	float:none;
    margin: 0;
    padding: auto;
    font-size:  10px;
}

#nav ul a {
	font-weight: normal;
    color: #EAEAEA;
}

#nav ul li:hover a{
    background-color: #FFCFDA;
    font-weight: bold;
}

#nav li:hover ul{
    opacity:1;
}
#nav li:hover ul li{
    height: 35px;
    overflow:visible;
    padding: 0;
}